{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Toutes les catégories</h1>
    {% for category in categories %}
        <div>
            <h2><a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a></h2>
        </div>
    {% else %}
        Pas de catégorie trouvée
    {% endfor %}

    <a href="{{ path('category_new') }}">
        Ajouter une catégorie
    </a>
    </br>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
