{% extends 'base.html.twig' %}
{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wild Series</title>
    </head>
    <body>
    <h1>Bienvenue sur Wild-Series !</h1>
    <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
    </br>
    <a href="{{ path("program_new")}}">Ajouter une série</a>
    </br>
    <a href="{{ path("season_index")}}">CRUD Saisons</a>
    </br>
    <a href="{{ path("episode_index")}}">CRUD Episodes</a>
    </body>
    </html>
{% endblock %}
