{% extends 'base.html.twig' %}

{% block title %}Nouvelle Saison{% endblock %}

{% block body %}
    <h1>Créer une nouvelle saison</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">Retour à la liste</a>
{% endblock %}
