{% extends 'base.html.twig' %}

{% block title %}Liste des Acteurs{% endblock %}

{% block body %}
    <h1>Tous les acteurs</h1>

        <ul>
            {% for actor in actors %}
                <h2><a href="{{ path("actor_show", { actor_id: actor.id }) }}">{{ actor.name }}</a></h2>
            {% endfor %}
        </ul>



    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
