{% extends 'base.html.twig' %}
{% block title %}Acteur : {{ actors.name }}{% endblock %}

{% block body %}
    <h1 class="mt-0">{{ actors.name }}</h1>
    {% for program in actors.programs %}
        <li>
            {{ program.title }}
        </li>
    {% endfor %}

    <a href="{{ path('actor_index') }}">
        Retour à la liste des acteurs
    </a>
{% endblock %}